<body><style type="text/css"	> 
body{
background-image:url(https://img.maximummedia.ie/her_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtaGVyLm1heGltdW1tZWRpYS5pZS5zMy5hbWF6b25hd3MuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE3XFxcLzEwXFxcLzA2MTEzMDM1XFxcL2Jsb2cuanBnXCIsXCJ3aWR0aFwiOjc2NyxcImhlaWdodFwiOjQzMSxcImRlZmF1bHRcIjpcImh0dHBzOlxcXC9cXFwvd3d3Lmhlci5pZVxcXC9hc3NldHNcXFwvaW1hZ2VzXFxcL2hlclxcXC9uby1pbWFnZS5wbmc_dj01XCJ9IiwiaGFzaCI6IjgyMTdmZDc3YzA3ZjhiYjUyNWVmZjdmMDlhMjZjMDg4OGVlYTBkNWMifQ==/blog.jpg);
background-size:cover;
background-attachment:fixed;
}</style>
<div class="panel pane-info">
	<div class="panel-heading">
		<b>BLog Title:</b>{{blogPost.blogTitle}}<br> 
		<b>Posted By:</b>{{blogPost.postedBy.firstname}} &nbsp; {{blogPost.postedBy.lastname}}<br> <b>POsted
			On:</b>{{blogPost.postedOn | date:'dd:MM:yyyy'}}<br>
	</div>
	<div class="panel-body">
		<p ng-bind-html="content"></p>
	</div>
	<div><button class="btn btn-info" ng-click="approvedBlogPost(blogPost)">Approve</button>
	<button class="btn btn-danger" ng-click="showTextArea()">Reject</button></div>
	<div ng-show="isRejected"><textarea ng-model="rejectionReason" rows="3"></textarea>
	<button ng-click="rejectBlogPost(blogPost)">Submit</button></div>
	
</div></body>